.full-width-tabs-wrapper .tab .tab-text {
  display: none !important;
}

.full-width-tabs-wrapper .tab .btn-wrapper {
  display: none !important;
}

.full-width-tabs-wrapper .full-width-content-tabs .tab {
  min-width: 140px;
  text-align: center;
}

.full-width-tabs-wrapper .full-width-content-tabs .tab h2 {
  padding: 0;
}

.full-width-tabs-wrapper .tab1 {
  left: calc(50% - 215px);
}

.full-width-tabs-wrapper .full-width-content-tabs .tab3 {
  right: calc(50% - 215px);
}

.full-width-tabs-wrapper .tab:hover, .full-width-tabs-wrapper .tab:focus {
  padding-top: 2%;
}

.body-slider .owl-nav {
  height: 60px;
  transform: none;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

.awards .award-image-wrapper {
  margin: 5px 10px;
}

.full-width-content-tabs {
  min-height: 0;
}

body.mean-container a.meanmenu-reveal {
  right: calc(50% - 215px) !important;
}

.hero-wrapper .slide-image .slide-content {padding-top: 20%;padding-bottom: 6%;}

.hero-wrapper .slide-image .container {
  width: 100%;
  max-width: 100%;
}

html {
  font-size: 12px;
}

.hero-wrapper .slide-image .slide-content.align-right h2.fancy-header {
  font-size: 5rem;
}


.hero-wrapper .slide-image .slide-content.align-right h1.slide-header {
  font-size: 3rem;
}

.hero-wrapper .slide-image .slide-content.align-right h3 {
  font-size: 1.8rem;
  max-width: 240px;
  min-height: 100px;
}


.full-width-tabs-wrapper .tab .tab-text {
  display: none !important;
}

.full-width-tabs-wrapper .tab .btn-wrapper {
  display: none !important;
}

.full-width-tabs-wrapper .full-width-content-tabs .tab {
  min-width: 140px;
  text-align: center;
}

.full-width-tabs-wrapper .full-width-content-tabs .tab h2 {
  padding: 0;
}

.full-width-tabs-wrapper .tab1 {
  left: calc(50% - 215px);
}

.full-width-tabs-wrapper .full-width-content-tabs .tab3 {
  right: calc(50% - 215px);
}

.full-width-tabs-wrapper .tab:hover, .full-width-tabs-wrapper .tab:focus {
  padding-top: 2%;
}

.body-slider .owl-nav {
  height: 60px;
  transform: none;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

.awards .award-image-wrapper {
  margin: 5px 10px;
}

.full-width-content-tabs {
  min-height: 0;
}

body.mean-container a.meanmenu-reveal {
  right: calc(50% - 215px) !important;
}

.hero-wrapper .slide-image .slide-content {padding-top: 20%;padding-bottom: 6%;}

.hero-wrapper .slide-image .container {
  width: 100%;
  max-width: 100%;
}

html {
  font-size: 12px;
}

.hero-wrapper .slide-image .slide-content.align-right h2.fancy-header {
  font-size: 5rem;
}


.hero-wrapper .slide-image .slide-content.align-right h1.slide-header {
  font-size: 3rem;
}

.hero-wrapper .slide-image .slide-content.align-right h3 {
  font-size: 1.8rem;
  max-width: 240px;
  min-height: 100px;
}

.footer-content-tabs .tab {
  min-width: 100%;
  position: static;
  border-radius: 0;
  margin-bottom: 5px;
  padding-bottom: 2%;
  position: relative;
}

.footer-content-tabs .tab .btn-wrapper {
  display: none;
}

.footer-content-tabs .tab:after,.footer-content-tabs .tab:before {
  content: '';
  background: #588ca5;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 99%;
}

.footer-content-tabs .tab:before {
  left: auto;
  right: 99%;
}

.footer-tabs-wrapper {
  overflow: hidden;
}

div#footer-info .container {
  flex-direction: column;
}

.site-info {
  height: auto !important;
  max-height: 10rem;
}

.footer-image {
  padding-top: 8%;
  margin-top: -4%;
}

.footer-tabs-wrapper .footer-content-tabs {
  height: auto;
}

.footer-image:after {
  background-position: 50% -100px;
  background-size: 550%;
}